/* Define the custom style for the close button */
.custom-close-button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  font-size: 24px; /* Adjust the font size as needed */
  color: #000; /* Set the color for the "X" */
  cursor: pointer; /* Add a pointer cursor */
  border: 0px;
}

/* Optionally, you can style the close button on hover */
.custom-close-button:hover {
  color: #ff0000; /* Change the color on hover */
}
