<div class="row mt-2" role="button" *ngFor="let article of articles" (click)="redirectToArticle(article)">
  <div class="d-flex col-sm-12 px-0">
    <div class="col-5 ">
      <img class="col-12" title="{{article.attributes.title}}" src="{{article.thumbnail}}" >
    </div>
    <div class="col-6 ms-2">
      <h2>{{article.attributes.title}}</h2>
      <span class="col-12 d-inline-block"><b>Writer: </b>{{article.writer}}</span>
      <span class="col-12 mt-2 d-inline-block"><b>Date: </b>{{article.publishDateStr}}</span>
      <span class="col-12 mt-2 d-inline-block article-description">
        <b>Description: </b>
        <span [appSafeHtml]="article.attributes.body"></span> 
      </span>
    </div>
  </div>
</div>
