<div class="row mx-0 px-0">
  <div class="col-4"></div>
  <div class="col-4 mb-3">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="keyword" [(ngModel)]="keyword" (input)="searchArticles()" placeholder="Search">
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row mx-0 px-0">
  <div class="col-2"><p>leftsidebar</p></div>
  <app-articles-list 
  class="col-8"
  *ngIf="!loading && articles.length > 0"
  [articles]="articles"
>
</app-articles-list>
  <div class="col-2"><p>rightsidebar</p></div>
</div>

<div class="loading" *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
    <span>Loading...</span>
  </div>
</div>

