<div class="row mx-0 px-0 px-2">
  <div class="col-4 my-2">
    <a href="#">
      <img src="https://media.geeksforgeeks.org/auth/profile/8ceu3jpotjla4m5wpbm7" title="Brand Logo" width="30" height="30" alt="Brand Logo Image">
    </a>
  </div>
  <div class="col-4 my-2"></div>
  <div class="col-3 my-2"></div>
  <div class="col-2 col-md-1 my-2">
    <button class="col-12 btn btn-primary login-btn py-1 px-0" (click)="redirectToLogin()">
      <mat-icon >login</mat-icon>
      Login
    </button>
    
  </div>
</div>